.filter__category {
    border-bottom: 1px solid grey;
    padding-top: 20px;

}

.filter__menu {
    border-right: 1px solid grey;
    width: 281px;
    height: 100%;
}

.filter__category h4 {
    color: #000;
    font-family: Inter;
    font-size: 20.812px;
    font-style: normal;
    font-weight: 600;
    line-height: 97.023%;
    /* 20.192px */
    letter-spacing: -0.312px;
    margin-bottom: 28px;
}

.filter__form__check,
.filter__furnsih__check {
    margin-bottom: 12px;
}

.filter__form__check label {
    color: #434343;
    font-family: Inter;
    font-size: 18.237px;
    font-style: normal;
    font-weight: 500;
    line-height: 97.023%;
    /* 17.694px */
    letter-spacing: -0.274px;
}

.btn__check__bhk {
    color: #434343;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 97.023%;
    /* 15.524px */
    letter-spacing: -0.24px;
    width: 64px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 3.42px;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
    padding: 8px 0px;
}


.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 97.023%;
    /* 15.524px */
    letter-spacing: -0.24px;
    border-radius: 3.42px;
    border: 1px solid #E0E0E0;
    background: #5E17EB;
}

.filter__bhk {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    padding-top: 20px;
}

.filter__furnish h4 {
    color: #000;
    font-family: Inter;
    font-size: 20.812px;
    font-style: normal;
    font-weight: 600;
    line-height: 97.023%;
    /* 20.192px */
    letter-spacing: -0.312px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.filter__bhk h4 {
    color: #000;
    font-family: Inter;
    font-size: 20.812px;
    font-style: normal;
    font-weight: 600;
    line-height: 97.023%;
    /* 20.192px */
    letter-spacing: -0.312px;
    margin-bottom: 15px;
}

.filter__furnsih__check label {
    color: #434343;
    font-family: Inter;
    font-size: 18.237px;
    font-style: normal;
    font-weight: 500;
    line-height: 95.023%;
    letter-spacing: -0.274px;
}

.furnish__row {
    padding: 12px;
}

.filter__furnish {
    border-bottom: 1px solid grey;
}


.filter__preferred h4 {
    color: #000;
    font-family: Inter;
    font-size: 20.812px;
    font-style: normal;
    font-weight: 600;
    line-height: 97.023%;
    /* 20.192px */
    letter-spacing: -0.312px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.filter__preferred__check label {
    color: #434343;
    font-family: Inter;
    font-size: 18.237px;
    font-style: normal;
    font-weight: 500;
    line-height: 95.023%;
    letter-spacing: -0.274px;
}

.preferred__row {
    padding: 12px;
}

.filter__preferred {
    border-bottom: 1px solid grey;
}

.filter__button {
    color: #FFF;
    font-family: Inter;
    font-size: 16.81px;
    font-style: normal;
    font-weight: 500;
    line-height: 97.023%;
    /* 16.31px */
    letter-spacing: -0.252px;
    width: 199px;
    height: 41px;
    flex-shrink: 0;
    border: none;
    border-radius: 54px;
    background: #5E17EB;
}

.filter__result>h3 {
    color: rgba(85, 85, 85, 0.70);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 132.523%;
    /* 18.553px */
    letter-spacing: -0.49px;
}

.filter__result h3 span {
    color: #555;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 132.523%;
    letter-spacing: -0.49px;
}

.filter__result__head h3 {
    color: #555;
    font-family: Inter;
    font-size: 21.82px;
    font-style: normal;
    font-weight: 600;
    line-height: 132.523%;
    /* 28.916px */
    letter-spacing: -0.764px;
}

.filter__result__subhead h4 {
    color: rgba(85, 85, 85, 0.90);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 132.523%;
    /* 18.553px */
    letter-spacing: -0.49px;
}

.filter__result__sort img {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.filter__result__sort h4 {
    color: #434343;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 132.523%;
    /* 18.553px */
    letter-spacing: -0.49px;
}

.filter__result__sort select {
    color: #5E17EB;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 132.523%;
    letter-spacing: -0.49px;
    height: 19px;
    width: 95px;
    border: none;
}

.filter__card__head {
    color: #000 !important;
    font-family: Inter;
    font-size: 14.08px;
    font-style: normal;
    font-weight: 600;
    line-height: 132.523%;
    /* 18.659px */
    letter-spacing: -0.352px;
}

.card__head__price {
    color: #5E5E5E;
    font-family: Inter;
    font-size: 14.19px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 132.523%;
    /* 18.805px */
    letter-spacing: -0.355px;
}

.filter__card__subhead {
    color: #696969;
    font-family: Inter;
    font-size: 8.16px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 132.523%;
    /* 10.814px */
    letter-spacing: -0.122px;
}

.filter__flat__features img {
    width: 18.947px;
    height: 10.542px;
    flex-shrink: 0;
}

.filter__flat__features h4 {
    color: #000;
    font-family: Inter;
    font-size: 8.16px;
    font-style: normal;
    font-weight: 500;
    line-height: 132.523%;
    /* 10.814px */
    letter-spacing: -0.204px;
    margin-left: 10px;
}

.filter__card {
    border-radius: 14.93px;
    border: 0.93px solid #E0E0E0;
    background: #FFF;
    width: 303px;
    height: 294px;
    flex-shrink: 0;
    overflow: hidden;
}

.filter__card__content__btn {
    color: #FFF;
    font-family: Inter;
    font-size: 7.52px;
    font-style: normal;
    font-weight: 500;
    line-height: 132.523%;
    /* 9.966px */
    letter-spacing: -0.188px;
    width: 61px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 3.42px;
    background: #5E17EB;
    border: none;
}

.filter__card__img button:nth-child(2) {
    top: 10px;
    left: 10px;
    color: #DEDEDE;
    font-family: Inter;
    font-size: 7.52px;
    font-style: normal;
    font-weight: 500;
    line-height: 132.523%;
    /* 9.966px */
    letter-spacing: -0.113px;
    border-radius: 3.416px;
    background: linear-gradient(0deg, #5E17EB 0%, #5E17EB 100%), #FFF;
    border: none;
    display: inline-flex;
    padding: 2.963px 4.704px 3.037px 8.296px;
    justify-content: center;
    align-items: center;
}

.filter__card__img button:nth-child(3) {
    top: 10px;
    left: 70px;
    color: #5E17EB;
    font-family: Inter;
    font-size: 7.52px;
    font-style: normal;
    font-weight: 500;
    line-height: 132.523%;
    /* 9.966px */
    letter-spacing: -0.113px;
    display: inline-flex;
    padding: 2.963px 4.704px 3.037px 8.296px;
    justify-content: center;
    align-items: center;
    border-radius: 3.416px;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #5E17EB;
    border: none;
}

.filter__card__img i {
    top: 10px;
    right: 15px;
    color: red;
    /* border:2px solid grey ; */
}

.filter__card__foot img {
    width: 12px;
    height: 12px;
}

.filter__card__foot h3 {
    color: #434343;
    font-family: Inter;
    font-size: 7.25px;
    font-style: normal;
    font-weight: 500;
    line-height: 132.523%;
    /* 9.608px */
    letter-spacing: -0.181px;
    /* margin-left: 5px; */
    margin: 0;
}

.filter__map {
    border-radius: 12px;
    width: 350px;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    border-right: 1px solid rgba(0, 0, 0, 0.20);
    border-left: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    object-fit: contain;
    /* overflow: hidden; */

}

.filter__map img {

    flex-shrink: 0;
    background-color: #fff;
    border-radius: 50%;
    top: 75px;
    box-shadow: 0px 0px 5px grey;
    padding: 6px;
    left: -14px;
}

.filter__map button {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 79px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #5E17EB;
    border: none;
    top: 75px;
    right: 20px;
}